$primary-text-color: #f2f2f2;
$second-text-color: #737373;
$acent-color: #f2a950;
$prinmary-bg-color: #212121;
$hero-bg-color: rgba(33, 33, 33, 0.659);
$border-color: #f2a950;
$btn-bg-color: #f2a950;
$selection-color: rgba(242, 169, 80, 0.3);
$backdrop-bg: rgba(34, 23, 11, 0.6);
$cabrds-border-color: #595959;
$footer-copyright: #d9d9d9;
