<section id="contact" class="section about-bg">
  <div class="container">
    <div class="about-inner">
      <h1 class="title">Залишились питання?</h1>

      <div class="about-wrapper">
        <form
          class="about-form"
          id="tg-about"
          data-aos="fade-left"
          data-aos-duration="1300"
        >
          <ul class="modal-list list">
            <li class="modal-form-item">
              <label class="modal-form-label">
                І'мя
                <input
                  class="modal-form-input"
                  type="text"
                  name="name"
                  required
                  minlength="2"
                  autocomplete="off"
                  pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}"
                  placeholder="Ім'я Призвище"
                />
                <svg class="modal-icon">
                  <use href="./images/sprite.svg#person"></use>
                </svg>
              </label>
            </li>
            <li class="modal-form-item">
              <label class="modal-form-label"
                >Телефон
                <input
                  class="modal-form-input"
                  name="tel"
                  type="tel"
                  required
                  minlength="10"
                  maxlength="10"
                  pattern="[\+]\d{3}\s[\(]\d{2}[\)]\-\d{3}[\-]\d{2}[\-]\d{2}"
                  autocomplete="off"
                  placeholder="0631234567"
                />
                <svg class="modal-icon">
                  <use href="./images/sprite.svg#phone"></use>
                </svg>
              </label>
            </li>
            <li class="modal-form-item">
              <label class="modal-form-label"
                >Пошта
                <input
                  class="modal-form-input"
                  type="email"
                  name="email"
                  autocomplete="off"
                  required
                  placeholder="example@yourmail.com"
                />
                <svg class="modal-icon">
                  <use href="./images/sprite.svg#email"></use>
                </svg>
              </label>
            </li>
            <li class="modal-form-item">
              <label class="modal-form-label"
                >Коментар
                <textarea
                  class="modal-form-input comment-input"
                  name="comment"
                  placeholder="Залиште свій коментар"
                ></textarea>
              </label>
            </li>
          </ul>
          <div id="success-about" style="display: none" role="alert"></div>
          <div id="err-about" style="display: none" role="alert"></div>

          <button class="btn" type="submit">Надіслати</button>

          <span class="about-text"
            >Залиште заявку або телефонуйте за номером (099) 111 22 33, і наш
            менеджер звяжеться з вами для кваліфікованої консультації.</span
          >
        </form>
      </div>
    </div>
  </div>
</section>
