<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-inner">
      <address>
        <ul class="list">
          <li class="">
            <a
              class="footer-contact link"
              href="https://goo.gl/maps/8VnYqaUnjzTQLFSY7"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              м. Миколаїв
            </a>
          </li>
          <li class="">
            <a class="footer-contact link" href="mailto:info@example.com">
              info@example.com</a
            >
          </li>
          <li class="">
            <a class="footer-contact link" href="tel:+380991111111"
              >+38 099 111 11 11</a
            >
          </li>
        </ul>
      </address>

      <div class="footer-about">
        <h2 class="company-name">Home Design</h2>
        <p class="footer-company__info">
          Це завжди профессійні послуги дизайну та інтрер'єру. Ми залюбки
          створемо дизайни квартири, дому, ресторану, кафе, офісу, магазину.
          Якісно та недорого втілимо Ващі мрії про функціональний та стильний
          інтер'єр у дизайн-проекті. Дизайн проект інтер'єру – це невід'ємна
          частина сучасного ремонту.
        </p>
      </div>

      <div class="social">
        <h2 class="social-title">Приєднуйтесь :</h2>
        <ul class="social-list list">
          <li>
            <a
              class="link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="instagram"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link"
              href="#"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="telegram"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#send"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="facebook"
            >
              <svg class="social-icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright">
      <p class="copyright">Copyright © 2023. Всі права захищені</p>
    </div>
  </div>
</footer>
