<header class="header scrollto" id="header">
  <div class="container">
    <div class="header-wrapper">
      <nav>
        <ul class="list nav-list">
          <li class="nav-item">
            <a class="nav-link link" href="./portfolio.html"> Портфоліо </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#contact"> Контакти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#review"> Відгки</a>
          </li>
        </ul>
      </nav>

      <a class="logo link" href="#hero">Home Design</a>

      <ul class="contact-list list">
        <li class="contact-item">
          <a class="contact-link link" href="mailto:example@gmail.com">
            <svg class="contact-icon">
              <use href="./images/sprite.svg#email"></use>
            </svg>
            example@gmail.com
          </a>
        </li>
        <li class="contact-item">
          <a class="contact-link link" href="tel:+380631234567">
            <svg class="contact-icon">
              <use href="./images/sprite.svg#phone"></use>
            </svg>
            +38 063 765 43 21</a
          >
        </li>
      </ul>
    </div>

    <!-- Mobile-menu -->

    <div class="mobile-menu">
      <div class="mobile-menu__box-nav">
        <a class="logo link" href="#hero">Home Design</a>
        <button class="mobile-btn" data-menu-open>
          <svg class="mobile-menu__icon">
            <use href="./images/sprite.svg#menu-mobile"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu__content" data-menu>
        <button class="mobile-btn btn-close" data-menu-close>
          <svg class="mobile-menu__icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="mobile-menu__nav-list list">
          <li class="mobile-menu__nav-item">
            <a
              class="mobile-menu__nav-link current-page link"
              href="./portfolio.html"
              >Портфоліо</a
            >
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#contact">Контакти</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link link" href="#">про компанію</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
