<section id="hero" class="section section-bg--hero">
  <div class="container">
    <div
      class="hero-inner"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      <h1
        class="title"
        data-aos="zoom-out"
        data-aos-delay="1300"
        data-aos-duration="500"
      >
        Замовте зворотній дзвінок!
      </h1>
      <h3
        class="hero-subtitle"
        data-aos="zoom-out"
        data-aos-delay="1600"
        data-aos-duration="500"
      >
        Залиште заявку, на зворотній дзвінок, та наш менеджер зв'яжеться з вами
        в зручний для Вас час.
      </h3>
      <button
        class="btn-hero"
        type="button"
        data-modal-open
        data-aos="zoom-out"
        data-aos-delay="1900"
        data-aos-duration="500"
      >
        Замовити дзвінок
      </button>
    </div>
  </div>
</section>
