<section class="section">
  <div class="container">
    <div class="privileg-wrapper">
      <h1 class="title">
        <span style="color: #f2a950">Чому</span> обирають саме нас
      </h1>

      <ul class="privileg-list list">
        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19 2H5a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Z"
                    ></path>
                    <path d="M8 2h4.5v8l-2.25-2L8 10V2Z"></path>
                    <path d="M8 14h5"></path>
                    <path d="M8 17h8"></path></svg
                ></span>
                Досвід работи та профессіоналізм
              </h2>
              <p class="text">
                За 7 років праці нас обрали вже понад 120 клієтів.
              </p>
            </div>
          </div>
        </li>

        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M5 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                    <path d="M19 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                    <path d="M19 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                    <path d="M19 21a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                    <path d="M17 19h-6V5h6"></path>
                    <path d="M7 12h10"></path>
                  </svg>
                </span>
                Комплексний підхід
              </h2>
              <p class="text">
                Ви зможете замовити у нас не тілки дизайн-проект, а ще й його
                реалізацію - ремонтні роботи. Окрім цього, ми є постачальниками
                та диллерамі деяких меблів та освітлення.
              </p>
            </div>
          </div>
        </li>

        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.8 9.3V5.7A2.7 2.7 0 0 0 11.1 3l-3.6 8.1V21h10.458a1.8 1.8 0 0 0 1.8-1.53L21 11.37a1.8 1.8 0 0 0-1.8-2.07h-5.4Z"
                    ></path>
                    <path
                      d="M7.5 11H5.097c-1.054-.018-1.956.855-2.097 1.9v6.3A2.079 2.079 0 0 0 5.097 21H7.5V11Z"
                    ></path></svg
                ></span>
                Зважанні рішення дизайну інтерьера
              </h2>
              <p class="text">
                Окрім того, що ми додаємо важливе занчення функціональності
                простору, у всіх проектах ми використовуємо лише існуючі
                матеіали, які детально разписуємо у спеціфікації до проекту.
              </p>
            </div>
          </div>
        </li>

        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.5 3h-15A1.5 1.5 0 0 0 3 4.5v15A1.5 1.5 0 0 0 4.5 21h15a1.5 1.5 0 0 0 1.5-1.5v-15A1.5 1.5 0 0 0 19.5 3Z"
                    ></path>
                    <path d="m10.5 15.5 2.5 2 4-5"></path>
                    <path d="M7 7.5h10"></path>
                    <path d="M7 11.5h4"></path></svg
                ></span>
                Уся будівельна документція
              </h2>
              <p class="text">
                Ми надаємо повний комплект чертежів для будівельників. А
                фотореалістичні 3D візуляції дозволяють Вам чітко контролювати
                стан усіх работ.
              </p>
            </div>
          </div>
        </li>

        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20.5 6.5h-17a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-11a1 1 0 0 0-1-1Z"
                    ></path>
                    <path d="M21.5 10h-9v5.5h9V10Z"></path>
                    <path d="M21.5 9v7.5"></path>
                    <path
                      d="M16 6.5c0-2.5-1.75-3-2.5-3H6.25C4.45 3.5 4 4.933 4 5.65v.85"
                    ></path>
                    <path
                      fill="currentColor"
                      stroke="none"
                      d="M16.75 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                    ></path>
                  </svg>
                </span>
                Продаж матеріалів за ціною нижче риночної
              </h2>
              <p class="text">
                Мі співпрацюєм с різмини компаніями, а це значе, що наші кліенти
                зможуть розраховувати на добру знижку при купівлі оздоблювальних
                матеріалів та сатнтехніки в наших партнерів.
              </p>
            </div>
          </div>
        </li>

        <li class="privileg-item">
          <div class="privileg-item__wrapper">
            <div class="privileg-content">
              <h2 class="sub-title">
                <span class="icon">
                  <svg
                    width="46"
                    height="46"
                    fill="none"
                    stroke="#F2A950"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M6 16.5H2v-13h20v13H6Z"></path>
                    <path d="M8 11v2"></path>
                    <path d="M12 16.5v3"></path>
                    <path d="M12 9v4"></path>
                    <path d="M16 7v6"></path>
                    <path d="M6 20.5h12"></path>
                  </svg>
                </span>
                Визнаня спільноти
              </h2>
              <p class="text">
                Фотографії інтер'єрів наших робіт постійно друкуються в
                профільних інтер`єрних виданнях. Ми також приймаємо участь у
                інтрер`єрних конкурсах. Курівництво студії часто приголошують
                виступати на TV та радіо.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
