<section class="section">
  <div class="container">
    <h1 class="title">
      Етапи створення <span style="color: #f2a950"> дизайну</span>
    </h1>
    <ul class="stages-list list">
      <li class="stages-item" data-aos="fade-right" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Зустріч із клієнтом</h2>
          <p>
            Дизайнерська студія Home Design робить ремонт "під ключ". Ми
            створюємо проекти у різних стилях (від класики до лофт стилю) та
            будь-якої складності. Наші дизайнери інтер'єрів у Миколаєві
            створюють затишок для багатьох українських сімей. При цьому ми
            враховуємо та беремо до уваги всі індивідуальні побажання та стиль
            життя клієнтів. Насамперед, ми знайомимося та безкоштовно
            консультуємо людей. Місце зустрічі обирає безпосередньо клієнт, будь
            то студія дизайну або інша зручна для вас локація. При зустрічі ми
            обговорюємо базові деталі та особливості майбутнього проекту.
            Питання стосуються не лише ваших побажань у стилі та кольоровій
            гамі, але також і ритму життя та індивідуальних потреб кожного члена
            сім'ї. Це дуже важливо, щоб максимально продумати та підібрати
            особливий дизайнерський інтер'єр.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-left" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Підписання договору</h2>
          <p>
            Під час зустрічі керівник компанії надає клієнтові договір, який є
            гарантією угоди, перш за все для клієнта, оскільки ми завжди
            дотримуємось умов договору та запланованих строків проекту, як на
            стадії планування, так і на стадії ремонтних робіт
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-right" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Заміри об`єкта</h2>
          <p>
            Після підписання договору та особистої зустрічі домовляємося про
            виїзд групи спеціалістів безпосередньо на об'єкт забудови. Оглядаємо
            приміщення, робимо детальні виміри. Це потрібно, щоб скласти
            детальне креслення дизайнерського проекту. Виміряємо все до
            міліметра, щоб пропланувати кожну деталь майбутнього затишку, який
            клієнт буде відчувати.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-left" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Згода планування обєкта</h2>
          <p>
            Після обробки анкети та вимірів детально опрацьовуємо дизайн
            інтер'єру. Підбираємо індивідуальний варіант з урахуванням
            особливостей приміщення та побажань клієнта, можливості
            перепланування на особистій консультації. Також пропонуємо кілька
            варіантів планування, якщо відповідних варіантів буде більше ніж
            один.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-right" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Оформлення дизайну</h2>
          <p>
            Після того, як затвердили планування обєкту, дизайнер створює 3D
            модель приміщення. Ви зможете побачити ваш майбутній інтер'єр перед
            тим, як буде проведено ремонтні роботи вашого затишку. На
            візуалізації власними очима зможете розглянути дизайн в усіх
            деталях, що вас цікавлять, а також наша команда відповість на всі
            питання, що вас зацікавлять. Також клієнта надається розбрукований
            альбом із усіма чертежами та візуалізаціями проекту, щоб
            будівельники змогли чітко та без усіляких питань робити поставлені
            завдання та в швидкий термін втілити проект у життя.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-left" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Прорахування вартості</h2>
          <p>
            Дизайн інтер'єру готовий, тепер необхідно прорахувати вартість
            матеріалів для ремонту, меблів та елементів декору для реалізації
            дизайн-проекту. Таким чином ми зможемо зрозуміти вартість вашого
            майбутнього ремонту. Ми завжди рекомендуємо перевірені компанії, які
            співпрацюють із нами та відповідають найкращим критеріям. При
            замовленні через нашу студію ви отримуєте знижку на деякі матеріали
            та меблі від наших партнерів. Ось чому варто замовити послугу
            ремонту.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
      <li class="stages-item" data-aos="fade-right" data-aos-duration="1000">
        <div class="storage-content">
          <h2 class="stage-subtitle">Оплата</h2>
          <p>
            Ціна проекту формується відповідно до індивідуальних можливостей та
            бюджету клієнта. Ми намагаємося розділити весь процес на два етапи.
            Таким чином, спрощується процес оплати та уникнення ситуацій, коли
            процес будівельно-монтажних робіт зупиняється через відсутність
            фінансування. Остаточна оплата здійснюється після затвердження
            проекту замовником.
          </p>
        </div>
        <img
          class="storage-img"
          width="360"
          height="360"
          src="./images/default.png"
          alt=""
        />
      </li>
    </ul>
  </div>
</section>
