<section id="review" class="section">
  <div class="container">
    <h1 class="title">Відгуки наших клієнтів</h1>
    <div class="corusel">
      <div class="slider-content">
        <img class="slider-img" width="100" src="./images/message.svg" alt="" />
        <h2 class="slider-title">Дмитро</h2>
        <p>
          Я заказал дизайн проект (пакет «Авторский») своего дома в этой дизайн
          студии уже на этапе подготовки фундамента дома и не прогадал! Это
          позволило мне задействовать полезное пространство дома на 100%.
          Банальный пример – «сдвинули» проем двери в прихожей на 15 см влево –
          справа встал шкаф-купе на всю стену. И таких примеров – масса, до
          которых бы я самостоятельно в жизни не додумался и которые помогли мне
          существенно сэкономить деньги на переделках! Я молчу уже про
          разработку самого дизайна дома и подбор всех отделочных материалов! С
          моей занятостью – это просто находка, тем более, что стоит данная
          услуга совсем недорого! Я остался очень доволен работой Студии на
          200%!
        </p>
      </div>
      <div class="slider-content">
        <img class="slider-img" width="100" src="./images/message.svg" alt="" />
        <h2 class="slider-title">Антоніна</h2>
        <p>
          Я обратилась в данную Студию дизайна с острым желанием сделать из
          своей 75-метровой 2х комнатной квартиры – трешку. Пакет «Бюджетный». В
          моей голове рисовался один очень спорный вариант, каково же было мое
          удивление, когда мне дизайнеры предложили целых 4 варианта
          перепланировки и один краше другого!! Ребята, не скупитесь на
          дизайнеров, по сравнению с общей стоимостью ремонта – это капля в
          море, зато вы будете 100% уверены, что каждый ваш квадратный метр
          площади задействован по максимуму! Девочки отработали каждую
          заплаченную мной копейку, а приятная атмосфера в их офисе уже
          настраивает на творческий лад.
        </p>
      </div>
      <div class="slider-content">
        <img class="slider-img" width="100" src="./images/message.svg" alt="" />
        <h2 class="slider-title">Сергій</h2>
        <p>
          Мы с супругой обратились в дизайн Студию Татьяны Загария так как не
          могли прийти с ней к общему знаменателю касательно дизайна нашей
          первой однокомнатной квартиры сомнительной планировки. Заказали «Пакет
          Авторский» без подбора материалов. Мы с женой хотели абсолютно
          разного! Наверное, с нами дизайнерам было нелегко, но они не подали
          виду!:) И каким-то чудом сумели благодаря своему профессионализму
          сократить количество наших с супругой споров и разногласий до 0! А
          гипсокартонная конструкция в виде ракушки, разработанная дизайнерами
          специально под реалии нашего пространства – это абсолютный хит!
        </p>
      </div>
      <div class="slider-content">
        <img class="slider-img" width="100" src="./images/message.svg" alt="" />
        <h2 class="slider-title">Андрій</h2>
        <p>
          Я собирался сделать ремонт самостоятельно. Оказалось, что это не
          просто, но самое главное стало понятно, что ошибки, которые я допущу
          таким методом на моей площади 120 кв. м, наверное обойдутся для меня
          дороже, чем я закажу дизайн проект у профессионалов. Дизайнеры студии,
          не только помогли мне разобраться с технической частью ремонта, но и
          подсказали понять в каком стилем будущей квартиры я хочу жить. А
          главное, я получил ответы на вопросы, где можно купить материалы, не
          тратя на их поиски время. Подобранные материалы, я смог увидеть в
          визуализациях всех комнат в моей квартире до их покупки.
        </p>
      </div>
      <div class="slider-content">
        <img class="slider-img" width="100" src="./images/message.svg" alt="" />
        <h2 class="slider-title">Олександр</h2>
        <p>
          В результате сотрудничества со Студией мы получили только позитивные
          эмоции, начиная со стадии создания дизайн-проекта квартиры до его
          реализации - Студия осуществляла авторский надзор за дизайн-проектом.
          Все делалось в оговоренные сроки, четко и профессионально. В качестве
          бонуса - получили большую экономию времени и денег, так как именно
          Студия отвечала за поиск всех необходимых материалов, предоставив нам
          существенную скидку при покупке материалов. На мой взгляд работа
          Студии - это одно из лучших сочетаний цены и качества на рынке
          Украины."
        </p>
      </div>
    </div>
  </div>
</section>
