<section class="section">
  <div class="container">
    <h1
      class="title title-border"
      data-aos="zoom-in-right"
      data-aos-duration="1000"
    >
      Наші послуги
    </h1>
    <ul class="service-list list">
      <li
        class="service-item"
        data-aos="fade-right"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="500"
      >
        <img src="./images/default.png" alt="" />
        <h2 class="sub-title services-title">Дизайн інтер'єру</h2>
        <p class="text">
          Наша компанія надає послуги по розробці дизайна приватних та
          громодьских інтер'єрів. Детальніще про вартість Ви зможете дізнатись в
          нашого консультанта.
        </p>

        <!-- <button class="btn">Детальніше</button> -->
      </li>
      <li
        class="service-item"
        data-aos="fade-right"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="500"
        data-aos-delay="250"
      >
        <img src="./images/default.png" alt="" />
        <h2 class="sub-title services-title">Комплектація об'єкта</h2>
        <p class="text">
          Комплектація об'єкта чи його меблювання включає в себе підбір та
          продаж меблів, освітлення та декору. Скористувавшись послугой, Ви
          економите свій час та грощі.
        </p>

        <!-- <button class="btn">Детальніше</button> -->
      </li>
      <li
        class="service-item"
        data-aos="fade-right"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="500"
        data-aos-delay="450"
      >
        <img src="./images/default.png" alt="" />
        <h2 class="sub-title services-title">Ремонтні работи + будівництво</h2>
        <p class="text">
          Ми пропоунємо найбільш повний спектр будівельних послуг - від простих
          до складних. Виконаємо ремонт приміщень будь яких розмірів та
          технічного стану.
        </p>

        <!-- <button class="btn">Детальніше</button> -->
      </li>
    </ul>
  </div>
</section>
