// .footer {
//   // background: rgb(68, 62, 62);
// }

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.footer-contact {
  transition: all 250ms linear;

  &:hover {
    color: $acent-color;
  }
}

.footer-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  font-size: 14px;

  text-align: center;
}

.footer-copyright {
  padding: 15px 0 50px;
  font-size: 14px;
  color: $footer-copyright;
  opacity: 0.5;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
    width: 55%;
    border-top: 1px solid $acent-color;
  }
  &::selection {
    background: $acent-color;
  }

  &::after {
    content: '';
    position: absolute;
    top: -180px;
    left: 50%;

    transform: translateX(-50%);
    width: 75%;
    border-top: 1px solid $acent-color;
  }
  &::selection {
    background: $acent-color;
  }
}

.company-name {
  display: inline-block;
  font-family: 'VivaldiD';
  font-weight: 700;
  font-size: 26px;
  color: $acent-color;
  opacity: 1;
}

.copyright {
  text-align: center;
}
