.hero-inner {
  max-width: 750px;
  padding: 50px;
  color: $primary-text-color;
  border-radius: 8px;
  background: $hero-bg-color;

  @media screen and (max-width: 839px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hero-subtitle {
  color: $primary-text-color;
  font-weight: 300;
  margin-bottom: 50px;
}
