.current-page {
  color: $primary-text-color;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $acent-color;
    transition: width 250ms linear;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: 838px) {
    width: calc((100% - 30px) / 2);
  }

  &:hover .portfolio-img {
    scale: 1.3;
  }

  &:hover .portfolio-inner {
    bottom: 0;
  }
}

.portfolio-img {
  transition: all 700ms linear;
}

// .portfolio-link {
//   position: relative;
// }

.portfolio-inner {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 10px 20px;
  background-color: rgba(33, 33, 33, 0.7);

  backdrop-filter: blur(12px);
  transition: all 350ms ease-in-out;
}
